ul{
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}
.wrapper{
  font-weight: 700;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: #00bc9c;
}
a:focus{
  text-decoration: none;
  color: inherit;
}
