//background-color
$header-top-bg:#f5f7fa;
$made-for-designers-bg: #506a85;


$box-shadow-color:#e6e9ed;



$button-bg: #00bc9c;
$button-hover-bg: #17a78b;
$button-color: white;

//text-color
$bace-h1-color: white;
$bace-h2-color:#506a85;
$bace-text-color: #73879c;
$bace-whoweare-h3-color: #ffffff;
$bace-whoweare-text-color:#a3b1bf;



//font
$bace-text-family: 'Source Sans Pro', sans-serif;
$bace-h-family: 'Lato', sans-serif;
$header-top-font:12px;